* {
    box-sizing: border-box;
}

body {
    margin:0;
}

h1 {
    background-color: darkseagreen;
    color: darkslategrey;
}

.texto {
    font-size: 150%;
    background-color: darkslategray;
    color: white;
}

.cook {
    width: 15%;

}